{% extends "layout.njk" %}

{% block head %} Fun. {% endblock %}

{% block content %}
	<p> Some of these may be styled differently than the rest of this website, time and preferences tend to shift together.<br>
		They also aren't likely to be mobile compatable so apologies in advance.
	<ul>
		<li><a href="{{ baseURL }}/fun/snake/snake.html">Snake</a></li>
	</ul>
{% endblock %}
