{% extends "layout.njk" %}

{% set activePage="fun" %}
{% set depth="../" %}

{% block head %} Fun. {% endblock %}

{% block content %}
	<p>
		Miscellaneous writing on experiences / things I've done.
	</p>
	<ul>
		<li><a href="./writing/graduation.html">Graduating in a pandemic</a></li>
		<li><a href="./writing/astra.html">Refurbishing the StarCraft</a></li>
	</ul>
	
	<hr>

	<p>
		Small web-compatible "projects" I have made. Mostly for learning purposes.
	</p>
	<ul>
		<li><a href="./snake/snake.html">Snake</a></li>
	</ul>

	<hr>

	<p>
		Here are some papers I wrote in high school. I'm not sure what to do with them anymore, but maybe someone will find them interesting.
	</p>
	{# Convert this to Nunjucks Macro for easy editability #}
	<div class="row">
		<div class="5 col"><li><a href="./papers/Sound_and_Pressure_Change.pdf">Sound Amplitude &amp; Pressure Change</a></li></div>
		<div class="3 col">Physics</div>
	</div>
	<div class="row">
		<div class="5 col"><li><a href="./papers/China_Korean_War.pdf">China's Entrance to the Korean War</a></li></div>
		<div class="3 col">History</div>
	</div>
	<div class="row">
		<div class="5 col"><li><a href="./papers/Great_Gatsby_Essay.pdf">Great Gatsby's Representation of the Wealthy</a></li></div>
		<div class="3 col">English Essay</div>
	</div>
	<div class="row">
		<div class="5 col"><li><a href="./Hamlet_Grave_Diggers.pdf">Hamlet Grave Diggers</a></li></div>
		<div class="3 col">English Free-ish Write</div>
	</div>

{% endblock %}
