{% extends "layout.njk" %}

{% set activePage="fun" %}

{% block head %} Fun. {% endblock %}

{% block content %}
	<p>
		Some of these may be styled differently than the rest of this website, time and preferences tend to shift together. They also aren't likely to be mobile compatible so apologies in advance.
	</p>
	<ul>
		<li><a href="./snake/snake.html">Snake</a></li>
	</ul>
	<hr>
	<p>
		Here are also some papers I've written for school. I'm not sure what to do with them anymore, but I'm proud of them, and hope that maybe you'll find them interesting.
	</p>
	{# Convert this to Nunjucks Macro for easy editability #}
	<div class="row">
		<div class="5 col"><li><a href="./papers/Sound_and_Pressure_Change.pdf">Sound Amplitude &amp; Pressure Change</a></li></div>
		<div class="3 col">Physics</div>
	</div>
	<div class="row">
		<div class="5 col"><li><a href="./papers/China_Korean_War.pdf">China's Entrance to the Korean War</a></li></div>
		<div class="3 col">History</div>
	</div>
	<div class="row">
		<div class="5 col"><li><a href="./papers/Great_Gatsby_Essay.pdf">Great Gatsby's Representation of the Wealthy</a></li></div>
		<div class="3 col">English Essay</div>
	</div>
	<div class="row">
		<div class="5 col"><li><a href="./Hamlet_Grave_Diggers.pdf">Hamlet Grave Diggers</a></li></div>
		<div class="3 col">English Free-ish Write</div>
	</div>

{% endblock %}
