{% extends "layout.njk" %}

{% set activePage="fun" %}
{% set depth="../../" %}

{% block head %}Refurbishing Astra, the 67 StarCraft Nassau{% endblock %}

{% block content %}
<div class="ph black bg-warning">
    <p>
        I am still working on the boat currently, updating this page when I have the time and feel like writing. Please mind that the content is very unpolished, and will remain that way until the project is complete.
    </p>
</div>
<p>I got this boat a few years ago when I was 15 or 16 for $700. I took it out from time to time, but never made full use of it because the boat's condition just always felt chaotic to me. A previous owner had replaced the floor with cheap plywood, removed the original seats, and then covered every surface in AstroTurf. While the first two are a little annoying, the last one always drove me crazy. I knew from the day I got the boat that I wanted it gone, but my younger self never found the time or motivation to make it happen.</p>
<p>Well now I am 18, on Winter break from my first semester of college, and there's a pandemic keeping everyone inside. Sounds like the perfect time to get a project done.</p>
<hr>
<p>The first day started the same as any renovation project, demo. I started by removing the seats &amp; boxes, before moving on to the side panels. As you can see from the before pictures, I had already torn out the fake grass from the floor and side panels over the summer, which made this process go a lot quicker. Despite help from my earlier self, numerous stripped screws still fought to delay my progress.</p>
<p>Once the walls were exposed, I moved onto the floor. For the first day all I did was take out the screws because it was getting late and I did not want to spend my evening drilling out the rivets which held in the flooring under the bow (turned out this piece was still original).</p>

{% endblock %}