<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Shane Mongan</title>
		<link rel="icon" type="image/png" href="{%if activePage != 'home' %}.{% endif %}./favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{%if activePage != 'home' %}.{% endif %}./css/dark.min.css">
		<link rel="stylesheet" href="{%if activePage != 'home' %}.{% endif %}./css/mono.min.css">
		<link rel="stylesheet" href="{%if activePage != 'home' %}.{% endif %}./css/color.min.css">
		{% block additionalHeaders %} {% endblock %}
	</head>

	<body>
		<div class="container">
			{% include "partials/_header.njk" %}

			<hr>

			<h3> {% block head %} {% endblock %} </h3>

			<div class="content">
				{% block content %} {% endblock %}
			</div>

			<br>

			{% include "partials/_footer.njk" %}
		</div>
	</body>
</html>
