<footer class="default tacenter">
	Literally no copyright so steal whatever you like <br />
	© Shane Mongan |
	<a style="text-decoration: none;" class="default" href="https://github.com/Cheetah26/website">
		Source Code
	</a>
 </footer>
