<header class="tacenter">
    <h2>Shane Mongan</h2>
    <nav class="border b-info p04">
        <a href="{{ baseURL}}/index.html">Home</a>
        <a href="{{ baseURL }}/linux/index.html">Linux</a>
        <a href="{{ baseURL }}/fun/index.html">Fun</a>
    </nav>
</header>
