<header class="tacenter">
    <h2>Shane Mongan</h2>
    <nav class="border b-info p04">
        <a class="{%if activePage == 'home' %} success {% endif %}" style=" text-decoration: none;" href="{{ baseURL}}/index.html">Home</a>
        <a class="{%if activePage == 'linux' %} success {% endif %}" style=" text-decoration: none;" href="{{ baseURL }}/linux/index.html">Linux</a>
        <a class="{%if activePage == 'fun' %} success {% endif %}" style=" text-decoration: none;" href="{{ baseURL }}/fun/index.html">Fun</a>
        <a class="{%if activePage == 'photos' %} success {% endif %}" style=" text-decoration: none;" href="{{ baseURL }}/photos/index.html">Photos</a>
    </nav>
</header>
