{% extends "layout.njk" %}

{% from "macros.njk" import link %}

{% set activePage="photos" %}
{% set depth="../" %}

{% block head %} Photos {% endblock %}

{% block content %}
	<p>
        Some quick notes about the photo library.
	</p>
	<ul>
		<li>I have opted to use Lychee as the gallery. While I would like to have written my own, I couldn't justify spending the time when this already exists.</li>
		<li>Secondly, please Keep in mind that everything here is hosted on a thin client over my home network so loading times may not be the best.</li>
	</ul>
	<p>
		<a href="https://photo.shanemongan.com", class="btn primary">Continue to library</a>
	</p>
{% endblock %}
