{% extends "layout.njk" %}

{% set activePage="photos" %}

{% block head %} Photos {% endblock %}

{% block content %}
	<p>
		Although I am not a photographer and have never claimed to be one, I like to think that I take some pretty good pictures once and a while. With that said, it would be a shame for nobody to see them, so here they are.
	</p>
	<hr>
	{# <div class="img-container">
		<img src="{{ baseURL }}/photos/img/LRM_EXPORT_20170722_142624.jpg" alt="test picture"/>
	</div>

	<div class="img-container">
		<img src="{{ baseURL }}/photos/img/LRM_EXPORT_20170720_064614.jpg" alt="test picture"/>
	</div> #}
	<div class="row">
		<div class="8 col">
			<div class="row">
				<div class="img-container">
					<img src="{{ baseURL }}/photos/img/LRM_EXPORT_20170722_142624.jpg" alt="test picture"/>
				</div>
			</div>
			<div class="row">
				<div class="img-container">
					<img src="{{ baseURL }}/photos/img/LRM_EXPORT_20170722_142624.jpg" alt="test picture"/>
				</div>
			</div>
		</div>
		<div class="img-container 4 col">
			<img src="{{ baseURL }}/photos/img/LRM_EXPORT_20170720_064614.jpg" alt="test picture"/>
		</div>
	</div>


	<style>
	.img-container {
		/* width: 400px; */
		height: 100%;
	}

	/* resize images */
	.img-container img {
		width: 100%;
		height: auto;
	}
	</style>
{% endblock %}
