extends ../components/_template.pug

block append content
  h2 404
  p Unless you're looking for a Futurama quote, you've ended up in the wrong place.
  img(
    src="../files/filenotfound.jpeg",
    alt="A robot in Futurama begs Donbot to open his mercy file. Donbot replies file not found.",
    width="300px"
    )