extends ../components/_template

block append content 
  h2 Hello!
  p I'm Shane, and this is where I talk about myself.
  p I have interests laying all over the place including music, juggling and hiking, but my passion is and always has been computers. I spend a lot of my free time either programming or learning more about managing Linux and improving my homelab, both of which provide me with a great feeling of accomplishment when I finish putting something together.
  p I am currently studying Computing and Information Technologies at the Rochester Institute of Technology, and working on a to-do list app for myself based on ideas from DevOps, kanban, and Getting Things Done.