{% extends "layout.njk" %}

{% block head %} Welcome {% endblock %}

{% block content %}
	<p> This is my website where I have some info about myself and such. <br><br>
		I hope to start doing a blog or something like that sooner or later, but for the time being just have a good time looking around. You can see some of the cool stuff I've taught myself over the years on the Fun page, as well as the Linux page where I discuss my current setup.
	</p>
{% endblock %}
