{% extends "layout.njk" %}

{% set activePage="home" %}

{% block head %} Welcome {% endblock %}

{% block content %}
	<p> This is my website where I have some info about myself and such. <br><br>
		I am 17, I have a huge facination with technology, I have earned the rank of Eagle in Boy Scouts, and my favorite color is purple. I like computers for the endless possibilities and I most enjoy working with servers. Besides learning more about tech I spend my free time juggling, listening to some good music, or enjoying nature.
		<br><br>
		I hope to start doing a blog or something like that sooner or later, but for the time being just have a good time looking around. You can see some of the cool stuff I've taught myself over the years on the Fun page, or read all about my current setup on the Linux page.
	</p>
{% endblock %}
