{% extends "layout.njk" %}

{% set activePage="home" %}
{% set depth="./" %}

{% block head %} Welcome {% endblock %}

{% block content %}
	<p> This is my website where I have some info about myself and such. <br><br>
		I am 18, I have a huge fascination with technology, I have earned the rank of Eagle in Boy Scouts, and my favorite color is purple. I like computers for the endless possibilities they provide. With that said I really enjoy working with Linux and server-oriented software for all the cool (and surprisingly practical) stuff that can be done. Besides learning more about tech I spend my free time juggling, listening to some good music, or enjoying nature.
		<br><br>
		I hope to keep adding to this site over time and have it grow to be a full representation of who I am, but for the time being just enjoy looking around at what's here. You can see some of my programming projects and random stuff on the Fun page, or read all about my current setup on the Linux page.
	</p>
{% endblock %}
