extends ../components/_template

block append content 
  h2 In short:
  p I wear a lot of hats (the metaphorical ones).
  h2 To elaborate:
  p I have interests laying all over the place including music, juggling, hiking, and even sometimes cars. My passion is and always has been computers, though there is some of variety there too. I primarily like systems administration, but spend a lot of time programming for fun. Either way, both provide the same great feeling of accomplishment when I finish putting something together.
  p I am currently studying Computing and Information Technologies at the Rochester Institute of Technology, working towards a career that lines up with my interests.