extends ../components/_template

block append content 
  p In short: I wear a lot of hats (the metaphorical ones). My #[a(href="./files/Shane_Mongan_Resume.pdf") resume].
  p To elaborate; #[br] I have interests laying all over the place from music, to hiking, and even cars sometimes. My passion is and always has been computers, though there is a bit of variety here too. Primarily I like systems and systems administration, but programming has always been a good hobby. There's nothing like the feeling of creating something. I also have a fair interest in cyber security, and as I spend more time in the cyber security club at UNH I am reminded how exciting that area can be.