extends ../components/_template.pug 

block append content
  p All of my programming projects are on my #[a(href="http://github.com/Cheetah26", target="_blank", rel="noopener noreferrer") GitHub].
  p Here's just a few things I've worked on that that I think stand out based on their uniqueness. Beyond programming, I have also put a lot of time into homelabbing and pursuing new skills, mainly around Linux and Docker. Unfortunately I can't simply share all the experiences I've had there through a GitHub repo.
  ul
    li
      a(href="https://github.com/Cheetah26/covid-bot") Covid Bot 
      | - Created in my freshmen year of college, this Discord bot downloaded a PDF of the latest testing results from the school's covid dashboard each day. It then converted the PDF to an image and sent it out to everyone. Having the bot's posts referenced daily by many of my peers taught me the joy (and sometimes stress) of maintaining something that people rely on.
    
    li ElasticLogger - A Minecraft server plugin which sends in-game events and server metrics to Elasticsearch. I also created two custom Kibana dashboards: one for an overview of all connected Minecraft servers, and another for looking at logs and statistics about any specific player.
    
    li
      a(href="https://netflix-statistics.shanemongan.com") Netflix Statistics 
      | - A fun weekend project which uses Netflix viewing history to display watch trends. Simply graphs number of views over a monthly or yearly basis, for all activity or only a particular show.

    li
      a(href="https://github.com/Cheetah26/keyboard") Custom Keyboard 
      | - Not (just) a programming project! I ventured into the world of hardware and built a fully custom mechanical keyboard. When I say custom, I mean my own PCB design based on measurements of my hands, ultra-light 25 gram key switches, a 3d printed base, and modified firmware. 