html(lang="en")
  head 
    title Shane Mongan
    link(rel="stylesheet", href="./styles/main.css")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body 
    .header 
      h1 Shane Mongan
      .links
        div
          a(href="./") Home 
          a(href="./projects.html") Projects
    hr
    block content 