doctype html
html(lang="en")
  head 
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Shane Mongan's website")
    link(rel="stylesheet", href="./styles/main.css")
    title Shane Mongan
  body 
    .header 
      h1 Shane Mongan
      .links
        div
          a(href="./") Home 
          a(href="./projects.html") Projects
    hr
    block content 