{% extends "layout.njk" %}

{% set activePage="linux" %}

{% block head %} Linux {% endblock %}

{% block content %}
	<p>
		I began experimenting with <sub class="nano">GNU/</sub>Linux in the summer of 2018. I first tried Arch Linux dualbooting on my desktop. I have heard it argued that Arch is a poor choice for a beginner, but I think that it actually ended up being beneficial because of how quickly it encourages the user learn about the OS, and how the pieces of a modern computing experiance fit together. It also gave me a greater respect for the programs that I use daily after using command line alternatives while I pieced together the components of a desktop environment.
	</p>
	<p>
		Currently I run Linux on all my computers. My desktop contuinues to dualboot running Manjaro and Windows 10. My laptop and a Dell Thin Client which I use for low power server applications run Debian. I also have another server machine that is powered on via wake on lan to handle the tasks too stressful for the Thin Client running Proxmox with a few VMs.
	</p>
	{# <br><br>
	<span class="tacenter accent small"> Apologies in advance for the wall of text, I realize that some images would probably be a good idea to make this a more attention-grabbing read.</span> #}
	<hr> <code class="large black bg-warning">Laptop</code>
	<br>
	<p>
		I will start with my laptop since it's the machine I interact the most with, although arguably the least interesting setup-wise. It is a cheap Toshiba Satellite that I'm surprised has held up as well as it has. As mentioned previously it is running Debian with DWM as my window manager. I realize this is a bit of a strange combination, but I like that Debian has a lot of resources online in the rare chance I encounter a problem, while DWM gives me something to tinker with in my free time. I also really enjoy using tiling WM. Before switching to Linux there were a few years where I was really into setting up AutoHotKey to achieve a similar workflow. While some might say that keyboard-focused layouts are impractical, this is incorrect because trackpads cannot have the same precistion, and are less conveinient even considering the extra time to learn keyboard shortcuts.
	</p>
	<hr> <code class="large black bg-warning">Teeny</code>
	<p>
		This is my Dell Thin Client that I bought to run docker containers 24/7 without having a large effect on the power bill. I chose it over something like a Raspberry Pi becuase purchasing it used worked out to be about the same cost, for the same RAM, a proper Intel 64-bit CPU, and 120GB of SSD storage. It is currently running 7 containers.
		<div class="container">
			{% from "macros.njk" import table %}
			{{ table([
				[
					'Container',
					'Usage'
				],
				[
					[
						'Nginx',
						'The webserver for this site & reverse proxy for other outward-facing containers'
					],[
						'LMS',
						'Self-hosted music streaming with Subsonic API'
					],[
						'OpenVPN',
						'VPN for VPN things (what else would it be?)'
					], [
						'DashMachine',
						"A wonderful dashboard for linking to services web UI's"
					], [
						'Wake on Lan',
						'A custom container for sending magic packets to LilBox'
					], [
						'BungeeCord',
						'The Minecraft server proxy and connector'
					], [
						'Lobby',
						'The obligitory Minecraft server (more on this and BungeeCord later)'
					]
				]
			]) }}
	  	</div>

	</p>
	<hr> <code class="large black bg-warning">LilBox</code>
	<p>
		LilBox is my server for when there is a need for processing power or large / valuable data. It is running Proxmox with a few VM's on it, which I wont be listing because they change quite frequently.
	</p>
{% endblock %}
